env_vars: 
  - key: clientId
    value: "12345.12345"
  - key: clientSecret
    value: "xxxxxxxxxxxxxxxxxxxxxxxxxx"
  - key: PORT
    value: "8080"
  - key: GITHUB_USER
    value: "github_user_to_make_releases"
  - key: GITHUB_OAUTH_TOKEN
    value: "yyyyyyyyyyyyyyyyyyyyyyyyyyyyy"
  - key: realworld_react_redux
    value: https://github.com/simbo1905/react-redux-realworld-example-app.git
  - key: realworld_react_redux_staging
    value: https://zzzzzzzzzzzzzzzzzzzzzzz@github.com/YourOrg/env-your-staging.git
  - key: realworld_react_redux_live
    value: https://zzzzzzzzzzzzzzzzzzzzzzz@github.com/YourOrg/env-your-live.git

